* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}
.content {
    background-color: #f2796e;
    display: flex;
    flex-direction: column;
    color: black;
    min-height: 100vh;
    width: 55%;
    padding: 10px 20px;
    justify-content: space-around;
}
.image {
    background-image: url(Images/illustration.svg);
    background-position: center;
    background-size: contain;
    height: 65%;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
}
.image:hover{
    filter: hue-rotate(3000deg);
}

.text {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
#form {
    padding: 50px;
    width: 45%;
}
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question{
    font-size: 15px;
}
.question span{
    color: rgb(242, 121, 110);
}


.or {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.btn1, .btn2 {
    width: 100%;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.btn2{
    background-color: #4F70B5;
    color: #fff;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

/* ----------------- */

label {
    margin-bottom: 5px;
    display: block;
}

form div input {
    width: 100%;
    border: 2px solid #c4c4c4;
    height: 40px;
    border-radius: 8px;
    outline: none;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
form div i {
    position: absolute;
    padding: 10px;
}

.success-icon, .failure-icon {
    right: 0;
    opacity: 0;
}

.success-icon{
    color: green;
}

.failure-icon, .error{
    color: red;
}

.error{
    font-size: 14px;
    margin-top: 5px;
}

#submit {
    width: 100%;
    background-color: #f2796e;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #f2796e;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    /* margin-top: 15px; */
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    transition: all 1s ease-in;
}
/* #submit:hover {
   display: block;
   margin: auto;
   width: 50%;
} */

@media (max-width:900px) {
    .container{
        flex-direction: column;
    }
    .content {
        width: 100%;

    }
    .image {
        height: 70vh;
    }
    
    #form {
        width: 100%;
    }
    .btn{
        flex-direction: column;
    }
}

@media (max-width:425px) {
   #form {
    padding: 20px;
   }
}

.logo img {
    transition: 1s ease-in-out;
}

.logo img:hover {
   transform: rotate(360deg) scale(.5) ;
   
}

.btn1 img, .btn2 img{
    transition: 1s ease-in-out;
}
.btn1 img:hover , .btn2 img:hover{
    transform:  scale(1.2) rotate(360deg);
}